:root { /*CSS Variables */
    --buttonColor: greenyellow;
    --buttonHover: rgb(104, 173, 0);
}

.rowHeader { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.colMain {/* Creates Flexbox column for main stuff*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.colMainItem { /* Flex item for main flexbox column */
    width: 1000px;
    text-align: center;
}

.buttonStyle{ /* The styles for the buttons */
    background-color:var(--buttonColor);
    padding: 25px 32px;
    font-size: 20px;
    font-weight: bold;
    margin: 30px;
    width: 400px;
    cursor: pointer;
    border-radius: 4px;
}

.buttonStyle:hover {
    background-color: var(--buttonHover);
}

#resultsContent {
    display: none;
}

h1 {
    font-size: 45px;
    text-align: center;
}

h2 {
    font-size: 30px;
    text-align: center;
}

input[type=text], select {
    width: 50%;
    padding: 20px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type=submit] {
    width: 50%;
    background-color: var(--buttonColor);
    font-size: 20px;
    font-weight: bold;
    padding:20px;
    margin: 8px;
    border-radius: 4px;
    cursor: pointer;
}

/*Media Queries */
@media screen and (max-width: 992px) { /* When screen is smaller */
    .colMainItem { /* Flex item for main flexbox column */
        width: auto;
    }
    .buttonStyle {
        width: 400px;
    }
}